body {
	background: #F2D0AF;
	margin: auto;
	color: #eee;
	font-size: 12px;
}

#modal {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	right: 0;
	bottom: -80px;
	background: rgba(0, 0, 0, .8);
}

.box {
	margin: 15% auto;
	background: #222;
	border-radius: 10px;
	width: 40%;
	padding: 20px 10px;
}

.box-header {
	padding: 20px 10px 10px;
	font-size: 32px;
	text-align: center;
	position: relative;
	text-shadow: 1px 2px 2px #eb697d;
}

.box-body {
	color: #777;
	padding: 20px 10px;
	font-size: 18px;
	text-align: center;
}

.box-body a {
	color: #eb697d;
	text-decoration: line-through;

}

.btn-modal-cancel {
	color: #f00;
	cursor: pointer;
	font-family: 'Courier New', Courier, monospace;
	font-size: 18px;
	position: absolute;
	top: -15px;
	right: 0;
}

#window {
	border: 2px solid #ddd;
	background: #BB318F;
	height: 400px;
	margin: 10% auto;
	padding: 10px;
	width: 25%;
	display: grid;
	border-radius: 10px;
	box-shadow: 2px 2px 10px 5px #999;
}

@media only screen and (max-width: 320px) {
	#window {
		width: 80%;
		height: 300px;
	}

	.box {
		width: 90%;
	}
}

@media only screen and (min-width: 320px) {
	#window {
		width: 80%;
		height: 400px;
	}

	.box {
		width: 80%;
	}
}

@media only screen and (min-width: 620px) {
	#window {
		width: 50%;
		height: 400px;
	}

	.box {
		width: 60%;
	}
}

@media only screen and (min-width: 800px) {
	#window {
		width: 45%;
		height: 400px;
	}

	.box {
		width: 50%;
	}
}

@media only screen and (min-width: 1000px) {
	#window {
		width: 30%;
		height: 400px;
	}

	.box {
		width: 40%;
	}
}

#display {
	word-wrap: auto;
	overflow-y: auto;
	overflow-x: auto;
}

#ret {
	color: #C6EBC8;
	word-wrap: auto;
}

.button {
	border: 0;
	background: #C6EBC8;
	padding: 3px;
	margin: 0;
	outline: none;
}

.operator {
	background: #83B19C;
}

.button:hover {
	background: #eb697d;
	border: 0;
}

#output {
	grid-area: 1/1/span 1/span 4;
	text-align: right;
	padding: 10px 15px;
}

#sama-dengan {
	grid-area: 6/3/span 1/span 2;
	border-radius: 0 0 10px 0;
}

.fot {
	background: transparent;
	color: #333;
	font-size: 13px;
	text-align: center;
	padding: 10px;
}
